package web

import "ecommerce_template/cmd/web/layouts"

templ HelloForm() {
@layouts.Base() {
<form hx-post="/hello" method="POST" hx-target="#hello-container">
  <input class="input input-bordered" id="name" name="name" type="text" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="hello-container"></div>
}
}

templ HelloPost(name string) {
<div>Hello, { name }</div>
}
